<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Book Collection</title>
    <link href="./styles/base.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <main>
      <h4>My Book Collection:<%=' ' + bookNumber + " Total books in Library" %></h4>
      <% bookArray.forEach(element => { %>
      <section class="book-view container">
        <ul>
          <li><%='Title: ' + element.title + '.'%></li>
          <li><%='Author: ' + element.author + '.'%></li>
          <li><%='ISBN: ' + element.isbn + '.'%></li>
          <li><%='Description: ' + element.description + '.'%></li>
          <li><%='Bookshelf: ' + element.bookshelf + '.'%></li>
          <li><img src='<%= element.image_url %>'></img></li>
        </ul>
      </section>
      <% }) %>
    </main>
  </body>
</html>